.main-content{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.img-location{
  width: 50%;
}
.hero-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding-left: 50px;
  border-right: 1px solid black;
}
.main-content p{
  color: rgb(45, 45, 45);
  font-size: 30px;
}
.main-content button{
  background-color: rgb(255, 127, 127);
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 20px;
}